/*==============
 CSS Reset
===============*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
    background:#DFDFDF;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*===============
 Layout 
===============*/
#header, #footer {
	width:100%; 
}
#header {
	padding:30px 0 30px 0; 
	clear:both; 
	background:#969696; 
	text-align:center; 
}
#left-column {
	float:left; 
	width: 20%; 
}
#left-column .content {
    padding:20px;
}
#content {
	float:left; 
    width:80%;
    min-height:400px;
    background:#fff;
}
#content .content {
    border-left:solid 1px #000;
    width:65%;
    min-height:400px;
    padding:20px;
}
#footer {
	background:#969696; 
	height: 100px; 
	clear:both; 
}
#login {
	float:left; 
    min-height:400px;
    background:#fff;
    width:100%;
}
#login .content {
    padding:20px;
}
/*===============
 Header
===============*/
#header h2 {
	margin:0; 
	font-size:2.5em; 
	color:#fff; 
    background:#787878; 
}

/*===============
 Left Column 
===============*/
#left-column ul {
	list-style:none; 
}
#left-column li {
    margin:5px 0 5px 0; 
    background-color:#eeeeee;
    padding:6px; 
}
#left-column li a{
	line-height: 1.5; 
	color:#000; 
    text-decoration:none;
}
#left-column li a:hover {
    color:#787878; 
}

/*==============
 Form
===============*/
form div {
    padding: 10px; 
}
form label {
	display:block; 
}
form input {
    font-size:.7em;
	padding: 5px; 
}
form input[type="submit"] {
	margin: 20px 0 0 10px; 
    border: solid 1px #969696;
    padding:10px;
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); 
    border-radius: 5px;
}

table {
	width: 100%; 
	border-spacing: 0; 
	border-collapse:collapse;
	border:solid 1px #000; 
}
table td {
	padding: 10px; 
	border: solid 1px #000; 
	border-spacing:0; 
}
table td:last-child {
	width:100px; 
}
/*==============
Headings
===============*/
h1 { 
    font-size: 2em;
    line-height:2; 
}
h2 {
    font-size: 1.5em; 
}
/*==============
Text
===============*/
p { 
    margin-bottom: 10px;
}
/*==============
 Lists
===============*/
ol, ul {
    list-style:circle; 
}
li {
    margin-left:35px; 
}