<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MyGroceryList 2</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div id="header">
        <div class="content">
            <h2>MyGroceryList2 Application</h2>
        </div>
	</div>
    <div id = "left-column">
        <div class="content">
           {{ menu }}
        </div>
    </div>    
    <div id = "content">
        <div class="content">
            {{ content }}
        </div>
	</div>
<div id = "footer"></div>
</body>
</html>
